<app-header>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
</app-header>

<ion-content [fullscreen]="true">
  <ion-content >
    <ion-grid size-lg="6" offset-md-="6" [formGroup]="registerForm" (ngSubmit)="formSubmit()" >
      <ion-item>


        <ion-label>Vet NIC</ion-label>
        <ion-input  formControlName="vetId"  type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Pet Id</ion-label>
        <ion-input  formControlName="pid"  type="text"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Vaccine ID</ion-label>
        <ion-input  formControlName="vaccineId" type="text"></ion-input>
      </ion-item>
              <ion-item>
                <ion-label>Vaccine Name</ion-label>
                <ion-select value="dog"  formControlName="vname" >
                  <ion-select-option value="NIL">NIL</ion-select-option>
                  <ion-select-option value="Rabies">Rabies</ion-select-option>
                  <ion-select-option value="Felv">Felv</ion-select-option>
                  <ion-select-option value="R">Rhinotrach</ion-select-option>
                  <ion-select-option value="ch">Chiamydia</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Code</ion-label>
                <ion-select value="cat"  formControlName="vcode">
                  <ion-select-option value="NIL">G45</ion-select-option>
                  <ion-select-option value="Rabies">RB45</ion-select-option>
                  <ion-select-option value="Felv">Fe89</ion-select-option>
                  <ion-select-option value="R">R11</ion-select-option>
                  <ion-select-option value="ch">Cj789</ion-select-option>
                </ion-select>
              </ion-item>
  
              <ion-item>
                <ion-label >Next Dose</ion-label>
               
                <ion-datetime   formControlName="nxtDate" monthValues="1,2,3,4,5,6,7,8,9,10,11,12" yearValues="2019,2020,2021,2022,2023,2024,2025" dayValues="01,02,03,04,05,06,08,09,10, 11, 12, 13, 14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31" displayFormat="DD/MMM/YYYY"></ion-datetime>
  
              </ion-item>
              

              
            </ion-grid>


            <ion-button (click)="formSubmit()" expand="full" color="dark">Add</ion-button>
  </ion-content>
</ion-content>
