<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      PetClinic<ion-icon name="logo-octocat"></ion-icon>
    </ion-title>
  </ion-toolbar>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
</ion-header>



<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
<body>
  <ion-app>
  <ion-content >
<!--     
    <ion-grid size-lg="6" offset-md-="6">
      <ion-row >
        <ion-col size-lg="12">
          <section class="full-width"> -->
           
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div>
                <strong>Date</strong> 
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                   <strong>Name of the Vaccine</strong> 
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                 <strong>Code of the vaccine</strong> 
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                <strong>Next Dose</strong> 
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                <strong>Vaccine Id</strong> 
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                 <strong>Vet Id</strong>
                  </div>
                </ion-col>
              </ion-row>


              <ion-row>
                <ion-col>
                  <div>
                  2020.12.01
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    Rabies
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                  R3
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                 2021.12.01
                  </div>
                </ion-col>
                <ion-col>
                  <div>
               r234f3
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                vet2098
                  </div>
                </ion-col>
              </ion-row>



              <ion-row>
                <ion-col>
                  <div>
                 2020.11.21
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                   Rabies
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                  r34
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                2022.03.21
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                 r35ht2f
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    vet2023
                  </div>
                </ion-col>
              </ion-row>


            </ion-grid>





  
</ion-content>
