<ion-header>
  <ion-toolbar>
    <ion-title>
      Edit Appointment
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="updateBookingForm" (ngSubmit)="updateForm()">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Pet Id</ion-label>
        <ion-input formControlName="pid" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">NIC Of the Guardian</ion-label>
        <ion-input formControlName="nic" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Vet ID</ion-label>
        <ion-input formControlName="vid" type="text" required>
        </ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-input formControlName="dis" type="text" required>
        </ion-input>
      </ion-item>


      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Update Appointment</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>