
        <ion-grid >
          <ion-row class="ion-align-items-center">
            <ion-col size="12" class="ion-text-center">
              <ion-text color="danger"><h1 >Appointmnet Details</h1></ion-text> 
              <ion-row ><ion-col><ion-text>Name :{{booking.gname}}</ion-text></ion-col> </ion-row>
              <ion-row><ion-col><ion-text>Pet Id :{{booking.pid}}</ion-text></ion-col> </ion-row>
              <ion-row><ion-col><ion-text>Guardian's NIC :{{booking.nic}}</ion-text></ion-col></ion-row>
              <ion-row><ion-col><ion-text>Requested Date :{{booking.date}}</ion-text></ion-col> </ion-row>
              <ion-row><ion-col><ion-text>Discription Date :{{booking.dis}}</ion-text></ion-col></ion-row>
                 
              <ion-button shape="round" (click)="dismiss()"  color="danger" >Dismiss</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>





